$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$font-stack: "Avenir";

$brainflix-black: #323232;
$brainflix-darkblack: #000000;
$brainflix-blue: #0095ff;
$brainflix-darkblue: #0065ad;
$silver: #afafaf;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$white: #ffffff;
