@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.comments {
  &__container {
    display: flex;
    flex-direction: row;
    border-top: 1px $mercury solid;
    padding: 1rem 0rem;
    margin-left: 1rem;
    margin-right: 1rem;

    @include tablet {
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 1rem;
      padding-right: 1rem;
    }

    @include desktop {
      margin-right: 0;
      padding-right: 2rem;
      padding-top: 2rem;
    }
  }

  &__icon {
    background-color: $mercury;
    height: 3rem;
    width: 100%;
    max-width: 3rem;
    margin-right: 1rem;
    border-radius: 50%;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }

  &__name {
    font-weight: bold;
  }

  &__date {
    color: $silver;
  }
}
